{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "prettier",
    "import"
  ],
  "env": {
    "browser": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "rules": {
    "@typescript-eslint/no-explicit-any": 0,
    "@typescript-eslint/ban-ts-comment": 0,
    "@typescript-eslint/ban-types": 0,
    "prettier/prettier": 2,
    "react/prop-types": [
      2,
      {
        "ignore": [
          "children"
        ]
      }
    ],
    "react/no-unescaped-entities": 0,
    "import/no-default-export": "error",
    "import/no-relative-parent-imports": "warn",
    "no-duplicate-imports": "error"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}