<!-- Pager -->
<ul class="pager">
  <% if current_article.next_article %>
    <li class="next">
        <%= link_to "#{current_article.next_article.title} &rarr;", current_article.next_article.url %>
    </li>
  <% end %>
  <% if current_article.previous_article %>
    <li class="previous">
        <%= link_to "&larr; #{current_article.previous_article.title}", current_article.previous_article.url %>
    </li>
  <% end %>
  