<%

image_name = data.site.default_background_image
custom_image = current_resource.metadata[:page]["background_image"]
if custom_image && custom_image.length > 0
  image_name = current_resource.metadata[:page]["background_image"]
end

background_image_source = current_resource.metadata[:page]["background_image_source"]

header_style = "site-heading"
if defined? style
  header_style = style
end

header_element = nil
if subtitle.length == 0
  header_element = <<-eos
      <div class="#{ header_style }">
        <h1>#{ title }</h1>
      </div>
      eos
else
  header_element = <<-eos
      <div class="#{ header_style }">
        <h1>#{ title }</h1>
        <hr class="small">
        <span class="subheading">#{ subtitle }</span>
      </div>
      eos
end

image_source_element = ""
if background_image_source
  image_source_element = <<-eos
  <div class="header_image_link_container">
    <a href="#{background_image_source}"><i class="fa fa-picture-o"></i></a>
  </div>
  eos
end

%>

<header class="intro-header" id="image-header" style="background-image: url('<%= image_name %>');">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <%= header_element %>
      </div>
    </div>
  </div>
  <%= image_source_element %>
</header>
