/ jQuery, Bootstrap core, and custom theme
= javascript_include_tag '//code.jquery.com/jquery-2.1.4.min.js'
= javascript_include_tag '//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js'
= javascript_include_tag 'clean-blog'
= custom_javascript_link_tag current_resource
