- abort 'No book specified' unless defined? book

- body = ''
- href = ''
- if book == 'swift'
  - body = 'My book takes beginners on the journey of building their first full iOS app. I detail everything from opening Xcode for the first time, to building the app, to even submitting to the App Store.'
  - href = 'http://leanpub.com/yourfirstswiftapp/publish/in_progress'
- if book == 'collectionview'
  - body = 'UICollectionView: The Complete Guide will help you build highly immersive, cutting-edge iOS user interfaces that transform your apps from good to great!'
  - href = 'http://www.amazon.com/gp/product/B00IHZKDCU/ref=as_li_tl?ie=UTF8&camp=1789&creative=390957&creativeASIN=B00IHZKDCU&linkCode=as2&tag=ashfur-20&linkId=T2MHOE5AYIWQTV3G'
- if book == 'iosfrp' || book == 'frpswift'
  - body = 'My book, aimed at intermediate iOS developers, explores the power and subtlety of functional reactive programming on iOS. Start building apps faster, safer, and with less frustration today!'
  - href = 'http://leanpub.com/iosfrp'

%div#book-link
  %a{href: href}
    %img{src: "/img/marketing/#{book}.jpg"}
  %a.visible-md.visible-lg{href: href}
    %h3 Enjoyed my post? You'd love my book!
  %a.visible-xs.visible-sm{href: href}
    %h3 Enjoyed my post?
  %p= body
%div.clearfix
