<% wrap_layout :layout do %>

  <!-- Page Header -->
  <%= partial("header", :locals => { :title => current_article.title, :subtitle => "", :style => "post-heading" }) %>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <article>
          <%= yield %>
        </article>
        <hr>
        <span class="meta">Posted on <%= current_article.date.strftime('%B %e, %Y') %></span>
        <hr />
        <%= partial("article_pager") %>
      </div>
    </div>
  </div>
<% end %>
