<% wrap_layout :layout do %>
  <!-- Page Header -->
  <%= 
    locals = { :title => current_article.title, :subtitle => "", :style => "post-heading" }
    background_image = current_resource.metadata[:page]["header_image"] 
    background_image ||= current_resource.metadata[:page]["background_image"]
    if background_image
      locals.merge!({ :background_image => background_image })
    end
    partial("header", :locals => locals) 
  %>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <article>
          <%= yield %>
        </article>
        <hr>
        <span class="meta">Posted on <%= current_article.date.strftime('%B %e, %Y') %></span>
        <hr />
        <%= partial("article_pager") %>
        </ul>
      </div>
    </div>
  </div>
<% end %>
