<% wrap_layout :layout do %>
  <%= 
    locals = { :title => current_article.title, :subtitle => "", :style => "post-heading" }
    background_image = current_resource.metadata[:page]["background_image"]
    if background_image
      locals.merge!({ :background_image => background_image })
    end
    partial("header", :locals => locals) 
  %>

  <%= yield %>

  <div class="container">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <div class="row">
        <hr />
        <%= partial("article_pager") %>
      </div>
    </div>
  </div>
<% end %>