<!doctype html>
<html lang="{{ metadata.language }}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ title or metadata.title }}</title>
		<meta name="description" content="{{ description or metadata.description }}">
		{# <link rel="alternate" href="/feed/feed.xml" type="application/atom+xml" title="{{ metadata.title }}"> #}

		<link rel="stylesheet" href="/index.css" />
		<style>{% getBundle "css" %}</style>

		<script defer src="/assets/fontawesome/brands.js"></script>
		<script defer src="/assets/fontawesome/solid.js"></script>
		<script defer src="/assets/fontawesome/fontawesome.js"></script>
		<link rel="stylesheet" href="https://use.typekit.net/uhm7xdd.css">
	</head>
	<body>
		<header 
		  style="background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)) 0% 0% / cover, url('{% bannerImage %}'); background-size: cover; background-position: center; background-repeat: no-repeat;"
		  {% if subtitle is defined %}class="left"{% endif %}
		>
			{% if bannerAttribution %}
				<a href="{{ bannerAttribution }}" class="banner-attribution">
					<i class="fa-solid fa-image"></i>
				</a>
			{% endif %}
			<h1>{{title}}</h1>
		</header>
	
		<main>
			{# Dump:
			{% bannerImage %} #}
			{{ content | safe }}
		</main>

    <hr />

		<footer>
			<span class="fa-fw fa-4x">
				<a class="icon" href="https://tenforward.social/@ashfurrow" title="Mastodon" rel="me">  <i class="fa-brands fa-mastodon" data-fa-transform="shrink-8" data-fa-mask="fa-solid fa-circle"></i></a>
			</span>
			<span class="fa-fw fa-4x">
				<a class="icon" href="https://twitter.com/@ashfurrow" title="Twitter" rel="me"><i class="fa-brands fa-twitter" data-fa-transform="shrink-8" data-fa-mask="fa-solid fa-circle"></i></a>
			</span>
			<span class="fa-fw fa-4x">
				<a class="icon" href="https://github.com/ashfurrow" title="GitHub" rel="me">
					<i class="fa-brands fa-github" data-fa-transform="shrink-8" data-fa-mask="fa-solid fa-circle"></i></a>
			</span>
			<span class="fa-fw fa-4x">
				<a class="icon" href="https://photos.ashfurrow.com" title="Photo Blog" rel="me">
					<i class="fa-solid fa-image" data-fa-transform="shrink-8" data-fa-mask="fa-solid fa-circle"></i></a>
			</span>
			<span class="fa-fw fa-4x">
				<a class="icon" href="http://instagram.com/ashfurrow" title="Instagram" rel="me">
					<i class="fa-brands fa-instagram" data-fa-transform="shrink-8" data-fa-mask="fa-solid fa-circle"></i></a>
			</span>
			<div class="attribution">
				This site is <a href="http://github.com/ashfurrow/blog">open source</a>. <a href="http://purl.org/dc/dcmitype/Text">Content</a> licensed under <a href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0</a>.
			</div>
		</footer>

		<script type="module" src="{% getBundleFileUrl "js" %}"></script>
	</body>
</html>
