@import "_variables";
@import "_mixins";

/* Speaking Page */

.speaking {
  .row {
    padding-bottom: 0;
  }

  h3 {
    margin-top: 2em;
    text-decoration: none;
    font-weight: 600;
    font-size: 1em;

    /* Small devices (tablets, 768px and up) */
    @media (min-width: 768px) {
      font-size: 1.5em;
    }
  }

  ul {
    padding: 0;

    li {
      width: 100%;
      display: inline-block;
      vertical-align: top;
      margin-top: 2em;
      text-align: left;

      i {
        width: 1.5em;
        text-align: center;
        position: relative;
        left: 0.625em;
      }

      h3 {
        margin: 0;
      }

      p, div {
        margin: 0;
      }

      p {
        padding-left: 2em;
        text-indent: -2em;
      }

      /* Links here are different from in articles. */
      a {
        text-decoration: none;
        color: $gray-dark;

        &:hover {
          text-decoration: underline;
          color: $brand-primary;
        }
      }

      .details {
        float: right;
        width: 70%;
        padding-left: 1em;
      }

      img {
        width: 100%;
      }

      /* Small devices (tablets, 768px and up) */
      @media (min-width: 768px) {
        margin-top: 2em;

        .details {
          padding-left: 1.5em;
          padding-bottom: 0.625em;
        }
      }

      .image-container {
        position: relative;

        float: left;
        padding: 0;
        height: 100%;
        width: 30%;

        a.mouseover-link {
          display: none;

          i {
            position: absolute;
            bottom: 0;
            right: 0;
            color: white;
            padding-bottom: 10px;
            padding-right: 40px;
            color: white;
          }
        }

        &:hover {
          a.mouseover-link {
            display: inline;
          }
        }
      }
    }
  }

  aside {
    background: no-repeat center center; 
    background-attachment: scroll;
    @include background-cover;
    color: white;
    font-weight: 800;
    padding: 5em 0;
    margin-bottom: 1.5em;
    margin-top: 5em;
    text-align: center;

    @media only screen and (min-width: 768px) {
      padding: 7em 0;
      margin-bottom: 30px;
      margin-top: 7em;
    }

    h2 {
      font-size: 2em;
      font-weight: 800;
      margin: 0;

      @media only screen and (min-width: 768px) {
        font-size: 2.5em;
      }
    }

    /* TODO: Cusotmize heights for different devices. */
    /* Extra small devices (phones, less than 768px) */
    /* No media query since this is the default in Bootstrap */

    /* Small devices (tablets, 768px and up) */
    @media (min-width: 768px) {
      padding-top: auto;
      padding-bottom: auto;
    }

    /* Medium devices (desktops, 992px and up) */
    @media (min-width: 992px) {
      padding-top: auto;
      padding-bottom: auto;
    }

    /* Large devices (large desktops, 1200px and up) */
    @media (min-width: 1200px) {
      padding-top: auto;
      padding-bottom: auto;
    }
  }
}
