@import "variables.less";
@import "mixins.less";

.container .pager li > a {
  margin-top: 10px;
  margin-bottom: 10px;
  text-decoration: none;
}

.container li a {
  text-decoration: underline;
}

.container li {
	padding-top: 5px;
	padding-bottom: 5px;
}

.under-header {
	padding-top: 20px;
}

@media only screen and (max-width: 768px) {
.intro-header .site-heading h1,
.intro-header .page-heading h1 {
    font-size: 40px;
  }

  .intro-header .site-heading .subheading, .intro-header .page-heading .subheading {
    font-size: 20px;
  }
}

.meta {
  color: #808080;
  font-size: 12px;
  font-style: italic;
  margin-top: 0;
}

img {
    margin-left: auto;
    margin-right: auto;
}

iframe.twitter-tweet {
    margin-left: auto !important;
    margin-right: auto !important;
}

blockquote > p:first-child {
	margin-top: 0;
}

.image-bg-fluid-height,
.image-bg-fixed-height {
    text-align: center;
    background:  no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.image-bg-fixed-height {
  background-color: #808080;
  height: 250px;
}
@media only screen and (min-width: 768px) {
  .image-bg-fixed-height {
    height: 450px;
  }
}

.container img {
  display: block;
  width: 100% \9;
  max-width: 100%;
  height: auto;
}

/* Let's make those little links a little prettier. */

.header-link {
  content: "#";
  color: rgba(189,189,189,0.25);
  font-weight: 400;
  &:hover,
  &:focus {
    text-decoration: none;
    color: @brand-primary;
  }
}

.container {
  .header-link {
    position: absolute;
    left:-0.5em;
    /* The links don't fit on spall screens, so let's high them. */
    @media only screen and (max-width: 768px) {
      display:none;   
    }
  }

  .cntl-content {
    .header-link {
      position: relative;
      left: 0.3em;
      display: inline;
    }
  }
}

/* Portfolio */

.portfolio {

  /* Software */
  
  #software_list {
    li {
      vertical-align: top;
      display: inline-block;
      margin-top: 30px;
      width: 90%;
      
      /* Small devices (tablets, 768px and up) */
      @media (min-width: 768px) { 
        width: 49%;
      }

      text-align: left;

      .content {
        margin-top: 30px;
      }

      .icon {
        display: block;
        text-align: center;
        height: 200px;
        position: relative;
        color: white;

        img {
          max-height: 200px;
        }

        div {
          position: absolute;
          left: 0px;
          right: 0px;
          bottom: 0px;
          top: 0%;

          padding: 5% 0;

        }

        h3 {
          padding: 10% 0;

          margin: 0px;
          font-size: 35px;
        }
      }

      p {
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 15px;
      }
    }
  }

  /* Community */

  #community_list {
    li {
      margin: 0px 10px;
    }

    /* Small devices (tablets, 768px and up) */
    @media (min-width: 768px) { 
      li {
        margin: 0px 30px;
      }
    }

    /* Medium devices (desktops, 992px and up) */
    @media (min-width: 992px) { 
      li {
        margin: 0px 50px;
      }
    }
  }

  /* Education */

  #education_list {
    li {
      vertical-align: top;
      display: inline-block;
      margin-left: auto;
      margin: 0px;
      margin-top: 30px;
      padding: 0px;
      width: 90%;
      
      /* Small devices (tablets, 768px and up) */
      @media (min-width: 768px) { 
        width: 49%;
      }

      p {
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 15px;
      }

      text-align: left;
      .icon {
        opacity: 0.3;
        color: black;
        text-align: center;
      }
      .bitmap {
        background-size: cover;
        height: 60px;
        margin-right: auto;
        margin-left: auto;
      }
      .treehouse {
        background-image: url(/img/portfolio/treehouse.png);
        width: 56px; 
      }
      .speaking {
        background-image: url(/img/portfolio/speaking.png);
        width: 56px; 
      }
    }
  }

  /* Photography */

  #photography_list {
    li {
      background: 0 0 no-repeat fixed;
      vertical-align: middle;
      position: relative;
      div {
        width: 70px; 
        height: 70px; 
        background-size: cover;
      }
      .instagram {
        background-image: url(/img/portfolio/instagram.svg);
        &:hover {
          background-image: url(/img/portfolio/instagram_hover.svg);
        }
      }
      ._500px {
        background-image: url(/img/portfolio/500px.svg);
        &:hover {
          background-image: url(/img/portfolio/500px_hover.svg);
        }
      }
      .exposure {
        background-image: url(/img/portfolio/exposure.svg); height: 80px;
        &:hover {
          background-image: url(/img/portfolio/exposure_hover.svg); height: 80px;
        }
      }
      min-width: 70px;
      color: @gray-dark;
    }

    li {
      margin: 10px 10px;
      /* Small devices (tablets, 768px and up) */
      @media (min-width: 768px) { 
        margin: 10px 50px;
      }
    }
  }

  /* Section Headers */

  aside {
    display: block;
    color: white;
    position: relative;
    background: no-repeat center center scroll;
    background-size: cover;
    margin-top: 90px;
    margin-bottom: 30px;
    padding-top: 50px;
    padding-bottom: 50px;

    p {
      margin: 0px 0px;
    }
    h2 {
      margin-top: 0px;
    }

    /* Extra small devices (phones, less than 768px) */
    /* No media query since this is the default in Bootstrap */

    /* Small devices (tablets, 768px and up) */
    @media (min-width: 768px) { 
      height: 250px;
      padding-top: auto;
      padding-bottom: auto;
    }

    /* Medium devices (desktops, 992px and up) */
    @media (min-width: 992px) { 
      height: 350px;
    }

    /* Large devices (large desktops, 1200px and up) */
    @media (min-width: 1200px) { 
      height: 450px;
    }

    figcaption {
      display: block;
      padding: 0px;
      text-align: center;

      /* Extra small devices (phones, less than 768px) */
      /* No media query since this is the default in Bootstrap */
      width: 70%;
      display: block;
      margin-top: auto;
      margin-bottom: auto;
      margin-left: auto;
      margin-right: auto;

      @media (min-width: 768px) { 
        position: absolute;
        text-align: left;

        &:before {
          content:"";
        }
      }

      &:before {
        content:"";
        color: white;
        position: relative;
        @media (min-width: 768px) { 
          position: absolute;
        }
        left: auto;
        bottom: auto;
        top: auto;
        right: auto;
      }

      &:after {
        content:"";
        color: white;
        position: relative;
        @media (min-width: 768px) { 
          position: absolute;
        }
        left: auto;
        bottom: auto;
        top: auto;
        right: auto;
      }
    }

    /* Software */

    #software_section {

      /* Extra small devices (phones, less than 768px) */
      /* No media query since this is the default in Bootstrap */

      /* Small devices (tablets, 768px and up) */
      @media (min-width: 768px) { 
        right: 2em;
        bottom: 2em;
        width: 325px;
        &:before {
          width: 205px;
          height: 94px;
          top: 0em;
          right: 105%;
          background-image: url(/img/portfolio/software_callout_small.svg);
        }
      }

     /* Medium devices (desktops, 992px and up) */ 
      @media (min-width: 992px) { 
        right: 5em;
        &:before {
          width: 357px;
          height:164px;
          top: -3.6em;
          background-image: url(/img/portfolio/software_callout.svg);
        }
      }

      /* Large devices (large desktops, 1200px and up) */
      @media (min-width: 1200px) { 
        right: 7em;
        bottom: 5em;
      }
    }

    /* Community */

    #community_section {

      /* Extra small devices (phones, less than 768px) */
      /* No media query since this is the default in Bootstrap */

      /* Small devices (tablets, 768px and up) */
      @media (min-width: 768px) { 
        right: 2em;
        bottom: 2em;
        width: 325px;
        &:before {
          width: 153px;
          height: 79px;
          top: 0em;
          right: 105%;
          background-image: url(/img/portfolio/community_callout_small.svg);
        }
      }

     /* Medium devices (desktops, 992px and up) */ 
      @media (min-width: 992px) { 
        right: 5em;
        &:before {
          width: 309px;
          height: 205px;
          top: -5.8em;
          background-image: url(/img/portfolio/community_callout.svg);
        }
      }

      /* Large devices (large desktops, 1200px and up) */
      @media (min-width: 1200px) { 
        right: 7em;
        bottom: 5em;
      }
    }

    /* Education */

    #education_section {

      /* Extra small devices (phones, less than 768px) */
      /* No media query since this is the default in Bootstrap */

      /* Small devices (tablets, 768px and up) */
      @media (min-width: 768px) { 
        right: 2em;
        top: 2em;
        width: 325px;
        &:before {
          width: 192px;
          height: 88px;
          bottom: -2.1em;
          right: 105%;
          background-image: url(/img/portfolio/education_callout_small.svg);
        }
      }

     /* Medium devices (desktops, 992px and up) */ 
      @media (min-width: 992px) { 
        right: 5em;
        &:before {
          width: 357px;
          height: 164px;
          bottom: -5.8em;
          background-image: url(/img/portfolio/education_callout.svg);
        }
      }

      /* Large devices (large desktops, 1200px and up) */
      @media (min-width: 1200px) { 
        right: 7em;
        top: 5em;
      }
    }

    /* Photography */

    #photography_section {

      /* Extra small devices (phones, less than 768px) */
      /* No media query since this is the default in Bootstrap */

      @media (min-width: 768px) { 
        text-align: right;
      }

      /* Small devices (tablets, 768px and up) */
      @media (min-width: 768px) { 
        left: 2em;
        bottom: 2em;
        width: 325px;
        &:after {
          width: 205px;
          height: 94px;
          top: 0em;
          left: 105%;
          background-image: url(/img/portfolio/photography_callout_small.svg);
        }
      }

     /* Medium devices (desktops, 992px and up) */ 
      @media (min-width: 992px) { 
        left: 1em;
        &:after {
          width: 357px;
          height: 164px;
          top: -3.8em;
          background-image: url(/img/portfolio/photography_callout.svg);
        }
      }

      /* Large devices (large desktops, 1200px and up) */
      @media (min-width: 1200px) { 
        left: 4em;
        bottom: 5em;
      }
    }
  }
}
















