/* Adapted from http://www.jqueryscript.net/other/Responsive-Vertical-Timeline-With-jQuery-CSS3.html */

.timeline {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin-top: 30px;
}

.timeline-center {
  left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
}

.timeline-bar {
  position: absolute;
  width: 10px;
  top: 0;
  bottom: 0;
  background-color: #7E7C7D;
}

.timeline-bar-fill {
  background-color: #398CCC;
  position: absolute;
  left:0;
  right:0;
  top:0;
  height:0;

}

.timeline-state {
  position: relative;
  width: 100%;
  min-height: 200px;
  margin-bottom: 50px;
}

.timeline-state::after {
  display:block;
  content: ' ';
  clear:both;
}

.timeline-icon {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  background-color: #020001;
  position: absolute;
  top: 0;
  text-align: center;
  line-height: 80px;
  font-size: 24px;
  color: #F9F9F9;
}

.timeline-content {
  width: 40%;
  padding: 2%;
  background-color: rgba(189,189,189,0.25);
  border-bottom: solid 3px #398CCC;
  float:left;
  opacity:0;
  position:relative;
  margin-left:-40%;
}

.timeline-state:nth-child(2n+2) .timeline-content {
  float:right;
  margin-right:-40%;
}

.timeline-image {
  position:relative;
  float:left;
  opacity:0;
  width: 40%;
}

.timeline-state:nth-child(2n+1) .timeline-image {
  float:right;
}

.timeline-image img {
    margin-left:auto;
    margin-right:auto;
}

.timeline-content > p, .timeline-content > h3 {
  margin: 10px 0 0 0;
  margin-top: 10px;
  line-height: 25px;
  margin-top: 25px;
}

.timeline-content > p:first-child, .timeline-content > h3:first-child {
  margin: 0;
  margin-top: 0px;
}

/*
animations
*/
.timeline-bar-fill, .timeline-content {
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  transition: all 500ms ease;
}

.timeline-image {
  -webkit-transition: all 500ms 250ms ease;
  -moz-transition: all 500ms 250ms ease;
  -o-transition: all 500ms 250ms ease;
  -ms-transition: all 500ms 250ms ease;
  transition: all 500ms 250ms ease;
}

.timeline-state:nth-child(2n+2).timeline-animate .timeline-content {
  margin-right:0%;
}

.timeline-animate .timeline-content {
  opacity:1;
  margin-left:0%;
}

.timeline-animate .timeline-image {
  opacity:1;
}


/* Mobile Support */

@media (max-width: 600px) {

  .timeline-bar {
    left:auto;
    right: 37px;
  }

  .timeline-content {
    width:80%;
    float:none;
  }
  .timeline-state:nth-child(2n+2) .timeline-content {
    margin-right:0%;
    float:none;
  }

  .timeline-image {
    margin-top: 30px;
    width:80%;
  }

  .timeline-state:nth-child(2n+1) .timeline-image {
    float:none;
  }

  .animate .timeline-content {
    margin-left: 2%;
  }

  .timeline-icon {
    left: auto;
    right: 0;
  }
}
