html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
}

header,
nav {
  display: block;
}

a {
  background: 0 0;
}

h1 {
  margin: .67em 0;
  font-size: 2em;
}

hr {
  height: 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

button {
  margin: 0;
  font: inherit;
  color: inherit;
}

button {
  overflow: visible;
}

button {
  text-transform: none;
}

button {
  -webkit-appearance: button;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:before,
:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}

button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

a {
  color: #428bca;
  text-decoration: none;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

h1,
h2 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

h1,
h2 {
  margin-top: 20px;
  margin-bottom: 10px;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

.small {
  font-size: 85%;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 10px;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width:768px) {
  .container {
    width: 750px;
  }
}

@media (min-width:992px) {
  .container {
    width: 970px;
  }
}

@media (min-width:1200px) {
  .container {
    width: 1170px;
  }
}

.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

.col-lg-4,
.col-md-5,
.col-sm-6,
.col-lg-8,
.col-md-10 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width:768px) {
  .col-sm-6 {
    float: left;
  }

  .col-sm-6 {
    width: 50%;
  }
}

@media (min-width:992px) {
  .col-md-5,
  .col-md-10 {
    float: left;
  }

  .col-md-10 {
    width: 83.33333333%;
  }

  .col-md-5 {
    width: 41.66666667%;
  }

  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }
}

@media (min-width:1200px) {
  .col-lg-4,
  .col-lg-8 {
    float: left;
  }

  .col-lg-8 {
    width: 66.66666667%;
  }

  .col-lg-4 {
    width: 33.33333333%;
  }

  .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }
}

.collapse {
  display: none;
}

.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav > li {
  position: relative;
  display: block;
}

.nav > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
}

.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 20px;
  border: 1px solid transparent;
}

@media (min-width:768px) {
  .navbar {
    border-radius: 4px;
  }
}

@media (min-width:768px) {
  .navbar-header {
    float: left;
  }
}

.navbar-collapse {
  padding-right: 15px;
  padding-left: 15px;
  overflow-x: visible;
  -webkit-overflow-scrolling: touch;
  border-top: 1px solid transparent;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
}

@media (min-width:768px) {
  .navbar-collapse {
    width: auto;
    border-top: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }

  .navbar-fixed-top .navbar-collapse {
    padding-right: 0;
    padding-left: 0;
  }
}

.navbar-fixed-top .navbar-collapse {
  max-height: 340px;
}

@media (max-width:480px) and (orientation:landscape) {
  .navbar-fixed-top .navbar-collapse {
    max-height: 200px;
  }
}

.container-fluid > .navbar-header,
.container-fluid > .navbar-collapse {
  margin-right: -15px;
  margin-left: -15px;
}

@media (min-width:768px) {
  .container-fluid > .navbar-header,
  .container-fluid > .navbar-collapse {
    margin-right: 0;
    margin-left: 0;
  }
}

.navbar-fixed-top {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
  -webkit-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

@media (min-width:768px) {
  .navbar-fixed-top {
    border-radius: 0;
  }
}

.navbar-fixed-top {
  top: 0;
  border-width: 0 0 1px;
}

.navbar-brand {
  float: left;
  height: 50px;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
}

@media (min-width:768px) {
  .navbar > .container-fluid .navbar-brand {
    margin-left: -15px;
  }
}

.navbar-toggle {
  position: relative;
  float: right;
  padding: 9px 10px;
  margin-top: 8px;
  margin-right: 15px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
}

.navbar-toggle .icon-bar + .icon-bar {
  margin-top: 4px;
}

@media (min-width:768px) {
  .navbar-toggle {
    display: none;
  }
}

.navbar-nav {
  margin: 7.5px -15px;
}

.navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px;
}

@media (min-width:768px) {
  .navbar-nav {
    float: left;
    margin: 0;
  }

  .navbar-nav > li {
    float: left;
  }

  .navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .navbar-nav.navbar-right:last-child {
    margin-right: -15px;
  }
}

@media (min-width:768px) {
  .navbar-right {
    float: right !important;
  }
}

.navbar-default {
  background-color: #f8f8f8;
  border-color: #e7e7e7;
}

.navbar-default .navbar-brand {
  color: #777;
}

.navbar-default .navbar-nav > li > a {
  color: #777;
}

.navbar-default .navbar-toggle {
  border-color: #ddd;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #888;
}

.navbar-default .navbar-collapse {
  border-color: #e7e7e7;
}

.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after {
  display: table;
  content: " ";
}

.container:after,
.container-fluid:after,
.row:after,
.nav:after,
.navbar:after,
.navbar-header:after,
.navbar-collapse:after {
  clear: both;
}

@-ms-viewport {
  width: device-width;
}

body {
  font-family: 'ff-tisa-web-pro', 'Georgia', 'Times New Roman', serif;
  color: #404040;
  font-size: 1.5em;
  line-height: 1.5em;
}

@media (min-width: 768px) {
  body {
    font-size: 2em;
    line-height: 1.5em;
  }
}

body {
  -ms-font-feature-settings: "liga";
  font-variant-ligatures: common-ligatures;
}

@supports not (font-variant-ligatures: common-ligatures) {
  body {
    font-feature-settings: "liga";
  }
}

h1,
h2 {
  font-family: 'futura-pt', 'Futura', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
}

a {
  color: #404040;
}

hr.small {
  max-width: 100px;
  margin: 15px auto;
  border-width: 3px;
  border-color: white;
}

.navbar-custom {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  font-family: 'futura-pt', 'Futura', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.navbar-custom .navbar-brand {
  font-weight: 700;
}

.navbar-custom .nav li a {
  text-transform: uppercase;
  font-size: 0.75em;
  font-weight: 700;
  letter-spacing: 1px;
}

@media only screen and (min-width: 768px) {
  .navbar-custom {
    background: transparent;
    border-bottom: 1px solid transparent;
  }

  .navbar-custom .navbar-brand {
    color: white;
    padding: 1.25em;
  }

  .navbar-custom .nav li a {
    color: white;
    padding: 1.25em;
  }
}

@media only screen and (min-width: 1170px) {
  .navbar-custom {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
}

.intro-header {
  background: no-repeat center center;
  background-color: gray;
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.intro-header .site-heading {
  padding: 6em 0 3em;
  color: white;
}

@media only screen and (min-width: 768px) {
  .intro-header .site-heading {
    padding: 7em 0;
  }
}

.intro-header .site-heading {
  text-align: center;
}

.intro-header .site-heading h1 {
  margin-top: 0;
  font-size: 2.5em;
}

.intro-header .site-heading .subheading {
  font-size: 1em;
  line-height: 1.1;
  display: block;
  font-family: 'futura-pt', 'Futura', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  margin: 10px 0 0;
}

@media only screen and (min-width: 768px) {
  .intro-header .site-heading h1 {
    font-size: 4em;
  }
}

body {
  webkit-tap-highlight-color: #398CCC;
}

.container .recent-blog-posts ol {
  padding-left: 0;
}

.container .recent-blog-posts li {
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  padding-top: 0;
  padding-bottom: 0.25em;
}

@media (min-width: 768px) {
  .featured-blog-posts {
    padding-top: 1em;
  }
}

.featured-blog-posts a {
  color: white;
}

.featured-blog-posts .embedded {
  margin-bottom: 1em;
}

@media (min-width: 768px) {
  .featured-blog-posts .embedded {
    margin-bottom: 1.5em;
  }
}

.featured-blog-posts .preview {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  min-height: 6.5em;
}

@media (min-width: 992px) {
  .featured-blog-posts .preview {
    min-height: 6.5em;
  }
}

.featured-blog-posts .preview h2 {
  padding: 0.5em;
  margin: 0;
}

.featured-blog-posts h2 {
  padding-bottom: 0.25em;
}

@media (min-width: 768px) {
  .nav .text-link {
    display: none;
  }
}

.nav .icon-link {
  font-size: 1em;
  display: none;
}

@media (min-width: 768px) {
  .nav .icon-link {
    display: inherit;
  }
}

header {
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px -50px 50px 0px inset;
  position: relative;
}

.header-dimmer {
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.container li {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.intro-header {
  margin-bottom: 0;
}

@media only screen and (max-width: 768px) {
  .intro-header .site-heading h1 {
    font-size: 2.5em;
  }

  .intro-header .site-heading .subheading {
    font-size: 1.25em;
  }
}

@font-face {
  font-family: 'icomoon';
  src: url('/fonts/icomoon.eot?-ar0ypv');
  src: url('/fonts/icomoon.eot?#iefix-ar0ypv') format("embedded-opentype"), url('/fonts/icomoon.ttf?-ar0ypv') format("truetype"), url('/fonts/icomoon.woff?-ar0ypv') format("woff"), url('/fonts/icomoon.svg?-ar0ypv#icomoon') format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-site-logo:before {
  content: "\e602";
}

.fa-search:before {
  content: "\f002";
}

.fa-rss-square:before {
  content: "\f143";
}
