---
title: 5 Years of iOS
date: 2014-12-21 20:50:18 UTC
layout: custom_blog_post
summary: TODO
timeline: true
---

<div class="container">
  <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
    <div class="row">

			<p>Description of me (student, volunteer, TA, Just started treatment for depression).</p>

			<!-- more -->

			<div class="cntl">
			 
			  <span class="cntl-bar cntl-center">
			    <span class="cntl-bar-fill"></span>
			  </span>
			 
			  <div class="cntl-states">
			 
			    <div class="cntl-state">
			      <div class="cntl-content">
			        <h4>Event 1</h4>
			        <p>Description 1.</p>
			      </div>
			      <div class="cntl-icon cntl-center">Date/Time</div>
			    </div>
			 
			    <div class="cntl-state">
			      <div class="cntl-content">
			        <h4>Event 2</h4>
			        <p>Description 2.</p>
			      </div>
			      <div class="cntl-icon cntl-center">Date/Time</div>
			    </div> 

			    <div class="cntl-state">
			      <div class="cntl-content">
			        <h4>Event 2b</h4>
			        <p>Description 2b.</p>
			      </div>
			    </div> 
			     
			    <div class="cntl-state">
			      <div class="cntl-content">
			        <h4>Event 3</h4>
			        <p>Description 3.</p>
			      </div>
			      <div class="cntl-icon cntl-center">Date/Time</div>
			    </div>
			 
			  </div>
			 
			</div>

    </div>
  </div>
</div>
