---
title: 5 Years of iOS
date: 2014-12-21 20:50:18 UTC
layout: custom_blog_post
header_image: /img/blog/5-years-of-ios/header.jpg
summary: TODO
timeline: true
---

<div class="container">
  <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
    <div class="row">
	    <p>Description of me (student, volunteer, TA, Just started treatment for depression).</p>
	    <!-- more -->

	  </div>
  </div>

  <div class="col-lg-12 col-md-12">
    <div class="row">

			<div class="cntl">
			 
			  <span class="cntl-bar cntl-center">
			    <span class="cntl-bar-fill"></span>
			  </span>
			 
			  <div class="cntl-states">
			 
			    <div class="cntl-state">
			      <div class="cntl-content">
			        <h4>Event 1</h4>
			        <p>Description 1.</p>
			      </div>
			      <div class="cntl-icon cntl-center">2014</div>
			    </div>
			 
			    <div class="cntl-state">
			      <div class="cntl-content">
			        <h4>Event 2</h4>
			        <p>Description 2.</p>
			      </div>
			      <div class="cntl-image"><img src="http://lorempixel.com/300/200"></div>
			      <div class="cntl-icon cntl-center">2014</div>
			    </div> 

			    <div class="cntl-state">
			      <div class="cntl-content">
			        <h4>Event 2b</h4>
			        <p>Description 2b.</p>
			      </div>
			    </div> 
			     
			    <div class="cntl-state">
			      <div class="cntl-content">
			        <h4>Event 3</h4>
			        <p>Description 3.</p>
			      </div>
			      <div class="cntl-icon cntl-center">2014</div>
			    </div>
			 
			  </div>
			 
			</div>

    </div>
  </div>

  <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
    <div class="row">
	    <hr>  
	    <span class="meta">Posted on December 2, 2014</span>
	  </div>
  </div>
</div>
