:root {
  /* Spacing */
  --spacing-section-horizontal: 2rem;
  --spacing-footer-icon: 1rem;
}

/* Layout */
.portfolio-subsection {
  overflow: hidden; 
  margin-bottom: 2rem;
}

/* Social media footer styling */
footer a {
  color: var(--grey-default);
  transition: color var(--transition-duration-standard) ease;
}
footer a:hover {
  color: var(--primary);
}
.portfolio-footer {
  text-align: center;
  margin: 2rem 0;
}
.portfolio-footer span {
  margin: 0 var(--spacing-footer-icon);
}
.portfolio-footer a {
  color: var(--grey-default);
  font-size: 3rem;
  transition: color var(--transition-duration-standard) ease;
}
.portfolio-footer a:hover {
  color: var(--primary);
}
@media (max-width: 600px) {
  .portfolio-footer span {
    margin: 0 0.3rem;
  }
}

/* Portfolio section callouts */
.portfolio-section-banner {
  position: relative;
}
.portfolio-section-banner div {
  display: block;
  padding: 5rem 2rem 2rem 2rem;
  text-align: left;
  width: 35%;
  max-width: 325px;
  position: relative;
  right: -60%;
}
.portfolio-section-banner div::before {
  content: '';
  display: block;
  color: white;
  position: relative;
  width: 357px;
  height: 164px;
  right: 397px;
  top: 3.6em;
  background-image: url(/assets/portfolio/callout.svg);
  background-repeat: no-repeat;
  background-size: contain;
  pointer-events: none;
}
.portfolio-section-banner .section-banner-title {
  font-size: 2.5rem;
  margin: 0;
}
.portfolio-section-banner div p {
  margin: 0;
}
@media (max-width: 1200px) {
  .portfolio-section-banner div::before {
    width: 205px;
    height: 94px;
    top: 2em;
    right: 235px;
    background-image: url(/assets/portfolio/callout_small.svg);
  }  
  .portfolio-section-banner .section-banner-title {
    font-size: 1.5rem;
  } 
  .portfolio-section-banner div p {
    font-size: 0.75rem;
  }
}
@media (max-width: 600px) {
  .portfolio-section-banner div::before {
    display: none;
  } 
  .portfolio-section-banner div {
    padding: 3rem var(--spacing-footer-icon);
    text-align: center;
    width: 100%;
    max-width: initial;
    position: initial;
    right: initial;
  }
}
