---
title: Blog  
---

{% set groupedPostsJson %}{% groupedPosts %}{% endset %}
{% set groupedPosts = groupedPostsJson | fromJson  %}

{# <pre>{{ groupedPosts | dump }}</pre> #}

{%- for group in groupedPosts %}
  <ol reversed>
    <h3>{{ group.name }}</h3>
    {%- for post in group.posts %}
      <li class="postlist-item">
        <a href="{{ post.url }}" class="postlist-link">{{ post.title }}</a>
        <time class="postlist-date" datetime="{{ post.date | parseDate | htmlDateString }}">{{ post.date | parseDate | readableDate("DDD") }}</time>
      </li>
    {%- endfor %}
    </ol>
  {%- endfor %}
  