---
title: Books
description: Work on books, as an author and more.
banner: /assets/bg/books.jpg
---

<h2><a href="https://leanpub.com/yourfirstswiftapp/">Your First Swift App</a></h2>
<div class="right-image-container">
  <img eleventy:ignore src="/assets/books/yourfirstswiftapp.png" alt="Your First Swift App Cover" class="right-image">
  <p>An introduction to building iOS apps with Swift, this is the third edition of a book I originally kickstarted in 2013. It introduces readers to the fundamental concepts of building their first iOS application, through the process of building <em>my</em> first app.</p>
  <p>From the very first Xcode project to the App Store submission process, the book covers tasks that are common in iOS application, like table views, user interaction, and even Core Data. The book instructs readers on the </<em>process</em> of development, not only on specific syntax or APIs. This gives readers the tools they need to continue to learn and grow towards becoming accomplished iOS developers.</p>
</div>


<h2><a href="http://www.amazon.com/gp/product/B00IHZKDCU/ref=as_li_tl?ie=UTF8&camp=1789&creative=390957&creativeASIN=B00IHZKDCU&linkCode=as2&tag=ashfur-20&linkId=GUX5WHOORCNFA32C">UICollectionView: The Complete Guide</a></h2>
<div class="right-image-container">
  <img eleventy:ignore src="/assets/books/uicollectionview.jpg" alt="UICollectionView: The Complete Guide cover" class="right-image">
  <p>I've worked with Addison-Wesley to publish two editions of this book to date, which describe in complete detail how to effectively use collection views in iOS applications to build unique, immersive experiences. Unlike many technical books, mine covers the how <em>and</em> the why of using this technology. <a href="/uicollectionview-the-complete-guide/">More details available</a>.</p>
</div>


<h2><a href="https://leanpub.com/iosfrp">Functional Reactive Programming on iOS (Retired)</a></h2>
<div class="right-image-container">
  <img eleventy:ignore src="/assets/books/iosfrp.jpg" alt="Functional Reactive Programming cover" class="right-image">
  <p>Functional reactive programming is declarative programming paradigm used to simplify complex, asynchronous tasks. You can read about the history of FRP, and its philosophy on the <a href="http://reactivecocoa.io/philosophy.html">ReactiveCocoa website</a>.</p>
  <p><strong>Note</strong>: this book relied on the 500px API, which was <a href="https://support.500px.com/hc/en-us/articles/360002435653-API-">shut down in June 2018</a>. I have retired the book officially. If you're interested in functional reactive programming, check out <a href="https://store.raywenderlich.com/products/rxswift">this book I contributed to from Ray Wenderlich</a>.</p>
</div>

<p>Other works include a earlier editions of <em>Your First Swift App</em> titled <a href="https://leanpub.com/your-first-ios-app">Your First iOS App</a>, and <a href="http://amzn.to/1QbzZtc">Beginning Objective-C</a> which I co-authored with Jim Dovey.</p>

<p>In addition to writing books for iOS developers, I provide technical review for other books. I've collaborated on the following books:</p>

<ul>
  <li><a href="https://store.raywenderlich.com/products/rxswift">Reactive Programming in Swift</a></li>
  <li><a href="http://amzn.to/1V1U57p">Swift for the Really Impatient</a></li>
  <li><a href="http://amzn.to/1gBpAr0">Build iOS Games with Sprite Kit</a></li>
  <li><a href="http://amzn.to/1Ne1C1t">Learning Core Data for iOS with Swift</a></li>
</ul>
