---
permalink: /feed.rss.xml
eleventyExcludeFromCollections: true
layout: false
---
<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:content="http://purl.org/rss/1.0/modules/content/" xmlns:atom="http://www.w3.org/2005/Atom">
  <channel>
    <title><![CDATA[Ash Furrow's Blog]></title>
    <link>{{ metadata.url }}</link>
    <atom:link href="{{ metadata.url }}/feed.rss.xml" rel="self" type="application/rss+xml" />
    <description><![CDATA[{{ metadata.description }}]></description>
    <language>{{ metadata.language }}</language>
    {%- for post in collections.posts | reverse | head(10) %}
    {%- set absolutePostUrl = post.url | absoluteUrl(metadata.url) %}
    <item>
      <title><![CDATA[{{ post.data.title }}]></title>
      <link>{{ absolutePostUrl }}</link>
      <pubDate>{{ post.date | dateToRfc822 }}</pubDate>
      <guid>{{ absolutePostUrl }}</guid>
      <description><![CDATA[{{ post.templateContent | striptags | truncate }}]></description>
      <content:encoded>{{ post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) }}</content:encoded>
    </item>
    {%- endfor %}
  </channel>
</rss>