/* Theme Variables */
:root {
  /* Colours */
  --primary: #398CCC;
  --white: #fff;
  --grey-dark: rgba(0, 0, 0, 0.9);
  --grey-default: rgba(64, 64, 64);
  --grey-light: #eee;
  --grey-extra-light: rgba(0, 0, 0, 0.1);
  
  /* Typography */
  --header-font-family: 'Futura', sans-serif;
  --body-font-family: 'ff-tisa-web-pro', serif;
  --base-font-size: 20px;
  --font-size-small: 0.9rem;
  --font-size-big: 2.9rem;

  /* Media queries don't support variables, apparently, lol */
  /* --mobile-breakpoint: 600px; */
  /* --table-breakpoint: 1200px; */
}

/* Layout */
::selection {
  color: var(--white);
  background: var(--primary);
}
html {
  font-size: var(--base-font-size);
  font-weight: 100;
  font-style: normal;
}
body {
  background: var(--white);
  color: var(--grey-default);
  font-family: var(--body-font-family);
  line-height: 1.6;
  font-variant-ligatures: common-ligatures;
  font-variant: common-ligatures;
  margin: 0;
  padding: 0;
}
@media (max-width: 600px) {
  html {
    font-size: 18px;
  }
}
main {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding: 2rem 0;
  margin: 0 auto;
  max-width: 80rem;
}
main > * {
  grid-column: 3 / 10;
}
@media (max-width: 1200px) {
  main > * {
    grid-column: 2 / 12;
  }
}
@media (max-width: 600px) {
  main > * {
    grid-column: 1 / 13;
  }
  main {
    padding: 1rem 1rem;
  }
}
/* TODO: What is this even for? */
/* form {
  p {
    label,
    input {
      display: block;
    }
    input {
      min-width: 275px;
    }
    textarea {
      resize: vertical;
      min-height: 150px;
      width: 100%;
    }
  }
} */
p {
  margin-block-end: 0;
  margin-block-start: 0;
  margin-bottom: 1rem;
}
p:last-child {
  margin-bottom: 0;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;
}
.twitter-tweet {
  margin-left: auto;
  margin-right: auto;
}
iframe {
  display: block;
  margin: 0 auto;
}

/* Styling */
a {
  color: var(--primary);
  text-decoration: none;
  transition: all none;
}
h2, h3 a {
  color: var(--grey-dark);
}
h1, h2, h3 {
  margin-block-start: 0;
  margin-block-end: 0;
}
h1 {
  font-family: var(--header-font-family);
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}
h2, h3 {
  font-family: var(--body-font-family);
  color: var(--grey-default);
  font-weight: 700;
  margin-bottom: 1rem;
}
blockquote {
  font-style: italic;
  position: relative;
}
blockquote:before {
  content: "";
  position: absolute;
  background: var(--primary);
  height: 100%;
  width: 6px;
  margin-left: -1.6rem;
}
label {
  margin-bottom: .5rem;
  color: var(--grey-dark);
}
input, textarea {
  border-radius: .5rem;
  border: none;
  background: rgba(0, 0, 0, 0.05);
  padding: .25rem 1rem;
}
input:focus, textarea:focus {
  &:focus {
    outline: none;
  }
}
.textRight {
  text-align: right;
}
hr {
  background: var(--grey-light);
  border: none;
  clear: both;
  height: 1px;
  width: 100%;
  margin-bottom: calc(1.66rem - 1px);
}
pre {
  font-variant-ligatures: no-common-ligatures;
  font-feature-settings: normal;
}

/* Header */
header {
  padding-top: 4rem;
  padding-bottom: 4rem;
  display: block;
  clear: both;
  position: relative;
  text-align: center;
  z-index: 5;
}
@media (max-width: 1200px) {
  header {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}
header.left {
  text-align: left;
}
header h1 {
  color: var(--white);
}

/* Footer */
footer {
  text-align: center;
  padding: 0 1rem 3rem 1rem;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
}
footer a.icon {
  color: var(--grey-default); 
}
footer a.icon:hover {
  color: var(--primary);
}
footer .attribution {
  font-size: 0.75rem;
}
