---
layout: layouts/full_page.njk
title: Portfolio
banner: /assets/bg/portfolio.jpg
pageStylesheet: /assets/portfolio.css
---

<section class="normal-width">
  <p>I began my career as an "iOS developer" but <a href="/blog/building-better-software-by-building-better-teams/">I have learned</a>, <a href="/blog/normalizing-struggle/">I have struggled</a>, and <a href="/blog/perspective-of-the-polyglot/">I have grown</a>. The problems I want to work on <em>now</em> simply cannot be solved with iOS software alone. I am interested in building <em>teams</em> as much as I am interested in building software.</p>
  <p>My <a href="/blog/5-years-of-ios/">first five years</a> and <a href="/blog/5-more-years-of-building-software/">my second five years</a> of professional software development are openly documented, if you want an in-depth look.</p>
</section>

<header class="section-banner section-banner-fullwidth portfolio-section-banner" style="--banner-image: url('/assets/portfolio/team.jpg')">
  <div class="section-banner-content">
    <h2 class="section-banner-title">Team</h2>
    <p>I am at my best when I'm helping others reach their best.</p>
  </div>
</header>

<section class="normal-width">
  <p>I started leading Artsy's Mobile Experience team in 2019, but my technical leadership spans back much further. Artsy encouraged to expand my impact so in 2015, <a href="/blog/building-online-communities/">I began learning about team dynamics</a> and applying what I learned in my team as an individual contributor. Over the years, <a href="/blog/perspective-of-the-polyglot/">I expanded my technical impact</a> by learning new systems and technologies, and <a href="/blog/building-better-software-by-building-better-teams/">expanded my cultural impact</a> by learning how to foster healthy, empathetic, and productive work environments.</p>
  <p>My approach to guiding product development centres learning as its goal. Developers build new products in complicated business contexts, and we don't know the answers upfront. I help teams learn <em>how</em> to solve the problem effectively and efficiently. We end up building a great product, but we do so by focusing on the <em>learning</em> rather than the <em>building</em>.</p>
  <p>This focus means creating a team environment where we are constantly learning and then teaching what we have learned, often across disciplines. This foundation of learning has helped me scale up Artsy's mobile software expertise across many product teams <a href="https://artsy.github.io/blog/2020/09/29/becoming-mobile-first-at-artsy/">to become a genuinely mobile-first product organization</a>.</p>
  <p>I excel at creating self-improving systems that distribute knowledge and responsibility across teams. At Artsy, <a href="https://artsy.github.io/blog/2018/05/07/fully-automated-standups/">I gave away responsibility for the engineering-wide sync</a>. At Shopify, I built up our release management rotation so every shift made things easier for the next one.</p>
  <p>My approach to technical leadership keeps me hands-on. Sometimes I work out ahead of the team, prototyping new ideas or helping avoid upcoming problems. However, most of my work is leading from behind. My intuition tells me what needs to be done most and I make sure it gets done.</p>
</section>

<header class="section-banner section-banner-fullwidth portfolio-section-banner" style="--banner-image: url('/assets/portfolio/community_header.jpg')">
  <div class="section-banner-content">
    <h2 class="section-banner-title">Community</h2>
    <p>In my home region of Atlantic Canada, we have a saying: "rising tides lift all boats."</p>
  </div>
</header>

<section class="normal-width">
  <p>Since I was a teenager, I've been fascinated with open source software. Not just the software itself, but the communities surrounding different projects. No one individual can accomplish what a community can – people can always accomplish more if they work together.</p>
  <p>Today, I practice a <a href="https://ashfurrow.com/blog/open-source-ideology/">fairly radical openness</a>: I believe that unless there is a good reason to keep something secret, then it should be shared. Artsy called it "open source by default." Teehan+Lax called it "creating more value than you capture." These phrases gave names to the ideas that have always resonated with me.</p>
  <blockquote>
    <p>See, in all our searching, the only thing we've found that makes the emptiness bearable is each other. — <a href="https://en.wikipedia.org/wiki/Contact_(1997_American_film)">Contact (1997)</a></p>
  </blockquote>
  <p>I take a lot of pride in helping others and in contributing to the developer community, and I've tried to set a higher standard for <a href="https://ashfurrow.com/blog/minswan-for-ios/">my own behaviour</a>. In addition to building <a href="https://ashfurrow.com/blog/building-my-career/">open source communities online</a>, I volunteer with <a href="https://www.pursuit.org">Pursuit</a>. When I moved to New York in 2015, I started a <a href="http://artsy.github.io/blog/2015/08/10/peer-lab/">weekly Saturday morning peer lab</a>, which <a href="/blog/5-years-of-peer-lab/">ran for five years</a>. I have since shared this idea around the world to <a href="https://peerlab.community">dozens of cities</a>, so there might even be a peer lab near you!</p>
  <footer class="portfolio-footer">
    <div style="margin: 1.5rem 0;">
      <span>
        <a href="https://github.com/ashfurrow" title="GitHub" rel="me">
          <i class="fa-brands fa-github"></i>
        </a>
      </span>
      <span>
        <a href="https://tenforward.social/@ashfurrow" title="Mastodon" rel="me">
          <i class="fa-brands fa-mastodon"></i>
        </a>
      </span>
      <span>
        <a href="http://stackoverflow.com/users/516359/ash-furrow" title="Stack Overflow" rel="me">
          <i class="fa-brands fa-stack-overflow"></i>
        </a>
      </span>
      <span>
        <a href="https://twitter.com/ashfurrow" title="Twitter" rel="me">
          <i class="fa-brands fa-twitter"></i>
        </a>
      </span>
    </div>
  </footer>
</section>

<header class="section-banner section-banner-fullwidth portfolio-section-banner" style="--banner-image: url('/assets/portfolio/software_header.jpg')">
  <div class="section-banner-content">
    <h2 class="section-banner-title">Software</h2>
    <p>Great software is software that gets out of the user's way.</p>
  </div>
</header>

<section class="normal-width">
  <p>I've began writing iOS apps in 2009, when I was still in university. Since then, I've expanded into <a href="https://ashfurrow.com/blog/perspective-of-the-polyglot/">many directions</a>. I now write software for whichever platform would best solve the problem at hand.</p>
  <div style="overflow: hidden; margin-bottom: 2rem;">
    <h3>Shopify</h3>
    <div class="right-image-container">
      <img eleventy:ignore src="/assets/portfolio/shopify.jpg" alt="Shopify" class="right-image">
      <div>
        <p><a href="/blog/joining-shopify/">I joined Shopify in 2021</a> and worked for two years on the <a href="https://shop.app/">Shop team</a>. My role as Senior Staff Developer gave me a broad mandate to improve our engineering organization and deliver product goals efficiently. I met regularly with company leadership to keep our technical efforts aligned with business goals. My job was to do what needed to get done, from prototyping new product ideas to improving cross-team technical leadership.</p>
        <p>My largest contribution was <a href="https://shop.app/minis">Shop Minis</a>, a React Native SDK for third parties to build native-quality shopping experiences. First I started building the SDK on my own, then I built up a team to deliver an internal prototype, then finally I oversaw two teams delivering a private alpha to launch partners. The SDK is <a href="https://www.shopify.com/ca/editions/winter2023#shop-minis-sdk">now publicly available</a>.</p>
      </div>
    </div>
  </div>
  <div style="overflow: hidden; margin-bottom: 2rem;">
    <h3>Artsy</h3>
    <div class="right-image-container">
      <img eleventy:ignore src="/assets/portfolio/artsy.jpg" alt="Artsy" class="right-image">
      <div>
        <p>From 2014 until 2021, I was at <a href="https://www.artsy.net">Artsy</a>: a company working towards a future where everyone is moved by art every day. I worked on a variety of teams to realize Artsy's business goals, starting with building iOS apps, then contributing across many systems and teams, and eventually leading Artsy's Mobile Experience team.</p>
        <p>Artsy encouraged me to grow and learn, and to share what I learn with others; all of my work there was <a href="https://github.com/ashfurrow">done in the open</a>, and I wrote articles for <a href="http://artsy.github.io">Artsy's engineering blog</a>.</p>
      </div>
    </div>
  </div>
  <div style="overflow: hidden; margin-bottom: 2rem;">
    <h3>35mm</h3>
    <div class="right-image-container">
      <img eleventy:ignore src="/assets/portfolio/35mm.jpg" alt="35mm" class="right-image">
      <div>
        <p>35mm was an ambitious project that I undertook with a team of two others: a designer and an editor. We aimed to change the world for photography-lovers by providing curated photography without advertisements. Although the project was not a success from a financial standpoint, I learned a lot about writing Newsstand magazines for iOS, including architecting our own backend server in Node.js.</p>
      </div>
    </div>
  </div>
  <div style="overflow: hidden; margin-bottom: 2rem;">
    <h3>500px</h3>
    <div class="right-image-container">
      <img eleventy:ignore src="/assets/portfolio/500px.jpg" alt="500px" class="right-image">
      <div>
        <p>In 2011, I began as the only iOS developer at <a href="https://500px.com">500px</a>, architecting and shipping the iPad app. I helped design new features, plan the product roadmap, and respond to customer support inquiries, all while continuing to ship an amazing product. I learned a lot about how software serves the needs of the business, and collaborating towards shared goals as a team. As a team lead, I played a crucial role in the design and development of the iPhone app, which shipped late 2012.</p>
      </div>
    </div>
  </div>
</section>

<header class="section-banner section-banner-fullwidth portfolio-section-banner" style="--banner-image: url('/assets/portfolio/creativity_header.jpg')">
  <div class="section-banner-content">
    <h2 class="section-banner-title">Creativity</h2>
    <p>Beyond code, beyond writing, there is art. My primary creative outlets are music and photography.</p>
  </div>
</header>

<section class="normal-width">
  <p>In 2011, I began developing an increasingly intense interest in photography. Working to improve my skills, I've explored the medium on film and in the <a href="https://ashfurrow.com/blog/darkroom-printing/">dark room</a>, using film as small as 35mm to as large as <a href="https://ashfurrow.com/blog/large-format-photography/">4x5 inches</a>. I now shoot using my iPhone because the majority of my dedicated creative time is spent on music.</p>
  <p>I grew up playing music but stopped when I started university. Twelve years later, in 2016, <a href="https://ashfurrow.com/blog/learning-guitar/">I picked up a guitar for the first</a> time and have been <a href="https://ashfurrow.com/blog/music-is-back/">(re)discovering</a> my love of music ever since. I performed a <a href="https://ashfurrow.com/blog/just-play/">30-day music challenge</a> online. Just before the pandemic hit, my band was preparing for its first performance: covers of The Weakerthans' music. Sadly, we never got to perform before <a href="/blog/moving-home-to-new-brunswick/">I left New York</a>.</p>
  <footer class="portfolio-footer">
    <div style="margin: 1.5rem 0;">
      <span>
        <a href="http://instagram.com/ashfurrow" title="Instagram" rel="me">
          <i class="fa-brands fa-instagram"></i>
        </a>
      </span>
      <span>
        <a href="https://photos.ashfurrow.com/" title="Photo Blog" rel="me">
          <svg style="width: 1em; height: 1em; fill: currentColor; position: relative; top: 6px;" viewBox="0 0 53 60">
            <path d="M26.2680609,0 L53,14.5701204 L53,44.4908187 L26.2680607,60 L0,44.4908177 L0,14.5701202 L26.2680609,0 Z M26.3105461,5.80712388 L4.85411119,17.5568943 L4.85411119,41.6858186 L26.3105459,54.1928761 L48.1458888,41.6858194 L48.1458888,17.5568945 L26.3105461,5.80712388 Z M24.509104,19.6472592 C25.1312247,19.5315959 25.7729084,19.4711101 26.428812,19.4711101 C32.157103,19.4711101 36.8008004,24.0845351 36.8008004,29.7754832 C36.8008004,35.4664314 32.157103,40.0798564 26.428812,40.0798564 C20.700521,40.0798564 16.0568236,35.4664314 16.0568236,29.7754832 C16.0568236,29.1238556 16.1177062,28.486355 16.2341286,27.8682899 C17.2680183,28.7763442 18.6269399,29.327467 20.1154277,29.327467 C23.3531575,29.327467 25.977856,26.719879 25.977856,23.5032561 C25.977856,22.0244717 25.4231168,20.674409 24.509104,19.6472592 Z"/>
          </svg>
        </a>
      </span>
      <span>
        <a href="https://soundcloud.com/ash-furrow" title="Soundcloud" rel="me">
          <i class="fa-brands fa-soundcloud"></i>
        </a>
      </span>
      <span>
        <a href="https://www.youtube.com/channel/UC-nZp66dKt_9tNHwEr6qLyQ" title="YouTube" rel="me">
          <i class="fa-brands fa-youtube"></i>
        </a>
      </span>
    </div>
  </footer>
</section>

<header class="section-banner section-banner-fullwidth portfolio-section-banner" style="--banner-image: url('/assets/portfolio/education_header.jpg')">
  <div class="section-banner-content">
    <h2 class="section-banner-title">Education</h2>
    <p>I grew up wanting to become a teacher, and when I became a programmer, I achieved my dream.</p>
  </div>
</header>

<section class="normal-width">
  <div style="overflow: hidden; margin-bottom: 2rem;">
    <h3>Blogging</h3>
    <div class="right-image-container">
      <img eleventy:ignore src="/assets/portfolio/blogging.jpg" alt="Blogging" class="right-image">
      <div>
        <p>I've been writing a developer-focused blog since 2011, now hosted here. At <a href="http://www.teehanlax.com/blog/author/ash/">Teehan+Lax</a>, I began contributing to company blog as part of my job. I continued that on <a href="http://artsy.github.io">Artsy's developer blog</a>. I've also written posts for <a href="http://www.objc.io/contributors/">objc.io</a>.</p>
        <p><a href="https://ashfurrow.com/blog/contemporaneous-blogging/">Blogging</a> about has made me <a href="https://www.youtube.com/watch?v=SjjvnrqDjpM">a better developer and a better writer</a>. At Artsy, I hosted weekly writing office hours to help others achieve their <a href="https://artsy.github.io/blog/2020/12/09/share-your-knowledge/">knowledge-sharing goals</a>.</p>
      </div>
    </div>
  </div>

  <div style="overflow: hidden; margin-bottom: 2rem;">
    <h3>Speaking</h3>
    <div class="right-image-container">
      <img eleventy:ignore src="/assets/portfolio/speaking.jpg" alt="Speaking" class="right-image">
      <div>
        <p>I began speaking in the Toronto CocoaHeads group in 2011. I soon began submitting proposals to conferences. Today, I've spoken all over the world on a variety of subjects relating to software development, team development, and open source software.</p>
        <p>Check out my <a href="/speaking">speaking page</a> for more.</p>
      </div>
    </div>
  </div>

  <div style="overflow: hidden; margin-bottom: 2rem;">
    <h3>Books</h3>
    <div class="right-image-container">
      <img eleventy:ignore src="/assets/portfolio/books.jpg" alt="Books" class="right-image">
      <div>
        <p>I became a published author in 2012 and have since written a number of books on iOS development (both with traditional publishers and self-published). Like with blogging, writing is a very satisfying activity. I enjoy planning a route to take a reader on, considering what to teach them (and when), and turning my ideas into educational resources.</p>
        <p>My work in books extends to technical editing as well. <a href="/books">Check out my books page</a> for more.</p>
      </div>
    </div>
  </div>

  <div style="overflow: hidden; margin-bottom: 2rem;">
    <h3>Workshops</h3>
    <div class="right-image-container">
      <img eleventy:ignore src="/assets/portfolio/treehouse.jpg" alt="Workshops" class="right-image">
      <div>
        <p>I delivered my first workshop in 2011. In March, 2014, <a href="https://teamtreehouse.com">Treehouse</a> invited me to Orlando to record a series of videos and screencasts to guide students through using Core Data to build an iOS diary app.</p>
        <p>I've also given in-person workshops on subjects ranging from the basics of iOS development to functional reactive programming in Swift. <a href="https://artsy.github.io/series/swift-at-artsy/">I also led a workshop at Artsy</a> to teach non-engineers the fundamentals of programming.</p>
      </div>
    </div>
  </div>
</section>
