---
title: '404'
noindex: true
permalink: /404.html
directory_index: false
---

/ Page Header
= partial :header, locals: { title: '404', subtitle: 'Couldn\'t find that', background_image: '/img/backgrounds/404.jpg' }

.container
  .row
    - standard_width_div do
      :markdown
        Couldn't find anything at that address – it's probably not your fault. This site recently moved a lot of things around. [Email me](mailto:ash@ashfurrow.com) and I'll help you find what you're looking for.
