---
title: About
---

<!-- Page Header -->
<%= partial("header", :locals => { :title => "About", :subtitle => "", :background_image => "http://static.ashfurrow.com/blog/backgrounds/about-bg.jpg" }) %>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
		<p>I’m a passionate person and immerse myself in whatever project I’m currently working on. I’m not happy unless I’ve got something to do, but sometimes meander through the different projects on my plate. I have a life-long obsession with learning; if I'm not learning, I'm stagnating, which means I'm moving onto to something new.</p>

		<p>I went to <a href="http://www.unb.ca">university</a> for Computer Science with a minor in Mathematics, because math is freaking <em>awesome</em>. While I did contracting for iOS in school, I really cut my teeth at <a href="http://500px.com">500px</a>. Later, I moved on to <a href="http://teehanlax.com">Teehan+Lax</a>, Canada's leading design agency. Now I work at <a href="http://artsy.net">Artsy</a>, an amazing company whose goal it is to make art as popular and accessible as music.</p>

		<p>I also love to <a href="/speaking">speak</a> – get in touch if you're interested in having me give a talk somewhere.</p>

		<p>Writing and teaching is something that's really important to me. Check out my books at the top of this page. Podcasting is cool; I've done a few. I also like to contribute to open source projects on <a href="https://github.com/ashfurrow">GitHub</a>, and I <a href="http://twitter.com/ashfurrow">tweet profusely</a>. You can email me at <a href="mailto:ash@ashfurrow.com">ash@ashfurrow.com</a>.</p>

		<p>I live in NYC's East Village and would love to meet sometime. Get in touch!</p>
    </div>
  </div>
</div>
