---
title: About
---

<!-- Page Header -->
<%= partial("header", :locals => { :title => "About", :subtitle => "", :background_image => "about-bg.jpg" }) %>

<div id="main" class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
    	<p>Blah university degree. Blah blah blah experience? Blah blah <a href="http://500px.com">500px</a> blah <a href="http://teehanlax.com">Teehan+Lax</a> blah now <a href="http://artsy.net">Artsy</a>&nbsp;blah.</p>

		<p>I’m a passionate person and immerse myself in whatever project I’m currently working on. I’m not happy unless I’ve got something to do, but sometimes meander through the different projects on my plate. I have a life-long obsession with learning; if I'm not learning, I'm stagnating, which means I'm moving onto to something new.</p>

		<p>I also love to <a href="/speaking">speak</a> – get in touch if you're interested in having me give a talk somewhere.</p>

		<p>Writing and teaching is something that's really important to me. Check out my books at the top of this page. Podcasting is cool; I've done a few. I also like to contribute to open source projects on <a href="https://github.com/AshFurrow">GitHub</a>, and I <a href="http://twitter.com/ashfurrow">tweet profusely</a>.</p>

		<p>I live in Amsterdam at the moment and would love to meet sometime. Get in touch!</p>
    </div>
  </div>
</div>
