---
title: About
priority: 0.75
description: I am a Canadian software developer currently living in New York’s East Village. The last five years of my life have been focused on iOS development, but I dabble. Community is incredibly important to me; I’ve only been able to accomplish what I have because of the kindness and generosity of others. I’ve been working toward becoming Open Source by Default in all aspects of my life.
---

/ Page Header
= partial :header, locals: { title: 'About', background_image: '/img/backgrounds/about.jpg' }

.container
  .row
    - standard_width_div do
      :markdown
        I am a world-class software developer living in New York’s East Village. The last [five years of my life](https://ashfurrow.com/blog/5-years-of-ios/) have been focused on iOS development, but I dabble. I have two cats, and when I’m not [contributing in open source](https://github.com/ashfurrow), I like to [write books](https://leanpub.com/u/theashfurrow) and [make photos](http://photos.ashfurrow.com).

        Community is incredibly important to me; I’ve only been able to accomplish what I have because of the kindness and generosity of others. I owe it to the people who helped me to help others now. I want to lead by example and become the kind of developer that I would want to work with. That means sharing knowledge, code, and time with others. To that end, I’ve been working toward becoming [Open Source by Default](http://code.dblock.org/2015/02/09/becoming-open-source-by-default.html) in all aspects of my life.

        ----------------

        If you want to get in touch, [Twitter](https://twitter.com/ashfurrow) is the best way to reach me. You can also email [ash@ashfurrow.com](mailto:ash@ashfurrow.com) and I’ll do my best to get back to you.

        ----------------

        Over my career, I’ve been fortunate to work at some amazing places.

        ### Artsy

        The goal of [Artsy](https://www.artsy.net) is simple, but ambitious: make art as popular as music. Here, I work on a team to build Artsy’s different iOS apps – [all of which are open source](http://www.objc.io/issue-22/artsy.html), which is amazing 🎉

        ### Teehan+Lax

        After learning the importance of design at 500px, I moved to [Teehan+Lax](http://www.teehanlax.com) – Canada’s leading design agency – to learn more. I developed keen collaboration skills while working closely with designers and clients to realize outstanding products.

        ### 500px

        [500px](https://500px.com/) is a site that aims to host the world’s best photography. Like Flickr, but only for your _best_ shots. I developed their first iPad app, and later led the iOS team to ship the new universal app.
