---
changefreq: daily
priority: 0.25
---

- require 'date'

/ Page Header
= partial :header, locals: { title: "Blog Archive", subtitle: "All the Greatest Hits" }

.container.archive
  .row
    - standard_width_div do
      %ol.months
        - page_articles.group_by {|a| a.date.year }.map{ |year, items| [year, items.group_by{|a| a.date.month}] }.each do |year, months|
          %li
            %ol.articles
              - months.each do |month, articles|
                %li.month
                  %h2= articles.first.date.strftime('%B %Y')
                  - articles.each do |article|
                    %article
                      =link_to article.title, article.url
                      &nbsp;
                      .post-meta= article.date.strftime('%B %e, %Y')
