---
title: HIRE ME!
svg_transform: true
og_image: http://static.ashfurrow.com/blog/backgrounds/portfolio-bg.jpg
---

<!-- Page Header -->
<%= partial("header", :locals => { :title => "Ash Furrow", :subtitle => "Awesome super-duper guy.", :background_image => "http://static.ashfurrow.com/blog/backgrounds/portfolio-bg.jpg" }) %>

<div class="portfolio">
	<div class="container">
	  <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
	    <div class="row">
	      <h1>PLZ HIRE ME!</h1>

	      <img src="http://www.gravitateonline.com/wp-content/uploads/2014/02/Hire-Me.jpg"/>
	    </div>
	  </div>
	</div>
</div>
