---
title: Portfolio
---

<!-- Page Header -->
<%= partial("header", :locals => { :title => "Portfolio", :subtitle => "", :background_image => "http://static.ashfurrow.com/blog/backgrounds/portfolio-bg.jpg" }) %>

<div class="portfolio">
	<div class="container">
	  <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
	    <div class="row">
	      <p>I've looked around for examples of software developer portfolios, and mostly I've just found people advocating that developers should have one, while providing very few answers as to what it should be or look like. What is a developer portfolio, anyway? Is it a resumé? Is it list of accomplishments? Is it a list at all? </p>
	      
				<p>The freedom of the web and availability of high-quality, open source tools like Bootstrap have encouraged me to grow beyond the role of a traditional developer. I decided that my portfolio would be something important to me, showing what matters to me as a professional. A snapshot of me. </p>

				<p>I make a lot of things. A lot of those things are software. A lot of them aren't. Let's start from the top.</p>
	    </div>
	  </div>
	</div>

	<!-- Software -->

	<aside style="background-image: url(/img/portfolio/software_header.jpg);">
		<figcaption id="software_section">
			<h2>Software</h2>
			<div>
				<p>Great software is software nobody notices. I write meaningful software with this aspiration. </p>
			</div>
		</figcaption>
	</aside>

	<div class="container">
	  <div class="row">
	    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
	    	<p>I've been writing iOS apps since 2009, when I was still in university. Since then, most significant software I've written has been on the iOS platform. I do, however, have an interest in web technologies, and have built the site you're currently reading. </p>
	    </div>
	  </div>
	</div>

	<!-- Community -->

	<aside style="background-image: url(/img/portfolio/community_header.jpg);">
		<figcaption id="community_section">
			<h2>Community</h2>
			<div>
				<p>In my home region of Atlantic Canada, we have a saying: "rising tides lift all boats."</p>
			</div>
		</figcaption>
	</aside>

	<div class="container">
	  <div class="row">
	    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
	    	<p>When I began university, the Computer Science faculty felt very cold. Students worked independently on assignments instead of connecting with eachother to learn and grow. I talked to the administration and we opened two lounges for student use on the condition that if the students didn't respect the spaces, they would be closed again. </p>
				<p>But having space to socialize isn't enough. I joined the undergraduate computer science association to help organize events that brought students together outside of the classroom setting. Before too long, we were organizing regular events like bowling, laser tag, and movie nights. The faculty was excited about the improvement and formalized several aspects of the community by providing free tutoring assistance from upper-year students to first-year students. Even today, the faculty continues to raise money for charity with pancake breakfasts, a practice I started in 2008.</p>
				<p>Community means a lot of things. To me, it means realizing that together, we are better than we are alone. We can accomplish more and we can be happier doing it. </p>
				<blockquote>See, in all our searching, the only thing we've found that makes the emptiness bearable is each other. —Contact (1995)</blockquote>
				<p>By sharing what we experience and learn, we can help both ourselves and others grow and learn, too. I've chosen to participate in the iOS community a few different ways: I contribute to GitHub and Stack Overflow, I host a podcast about the goings on of ios, and I encourage people to ask questions on Twitter. </p>
	    </div>
	  </div>
	</div>

	<!-- Education -->

	<aside style="background-image: url(/img/portfolio/education_header.jpg);">
		<figcaption id="education_section">
			<h2>Education</h2>
			<div>
				<p>I grew up wanting to become a teacher, and when I became a programmer, I achieved my dream.</p>
			</div>
		</figcaption>
	</aside>

	<div class="container">
	  <div class="row">
	    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
	    	<p>TODO</p>
	    </div>
	  </div>
	</div>

	<!-- Photography -->

	<aside style="background-image: url(/img/portfolio/photography_header.jpg);">
		<figcaption id="photography_section">
			<h2>Photography</h2>
			<div>
				<p>Beyond code, beyond writing, there is photography. It is my primary creative outlet.</p>
			</div>
		</figcaption>
	</aside>

	<div class="container">
	  <div class="row">
	    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
	    	<p>TODO</p>
	    </div>
	  </div>
	</div>

</div>