---
---

/ Page Header
= partial :header, locals: { title: 'Search', background_image: '/img/uicollectionview/background.jpg' }

.container
  .row
    - standard_width_div do
      %input.form-control#search{type: 'text', placeholder: 'Search for...'}

      .search-results
