---
title: Speaking
og_image: /img/speaking.jpg
priority: 0.75
---

<!-- Page Header -->
<%= partial("header", :locals => { :title => "Speaking", :subtitle => "", :background_image => "http://static.ashfurrow.com/blog/backgrounds/speaking-bg.jpg" }) %>

<%

# <li>
#   <div class="image-container">
#     <img src="/img/portfolio/blogging.jpg" />
#     <a><i class='fa fa-file'></i></a>
#   </div>
#   <div class="details">
#     <h3>Teaching &amp; Learning</h3>
#     <p><a><i class='fa fa-quote-left'></i>MBLTDev</a></p>
#     <p><a><i class='fa fa-calendar'></i>May 16, 2014</a></p>
#     <p><a><i class='fa fa-map-marker'></i>Moscow, Russia</a></p>
#     <p><a><i class='fa fa-code'></i>Sample Code</a></p>
#     <p><a><i class='fa fa-youtube-play'></i>Video Recording</a></p>
#   </div>
# </li>

def talk_to_html(type, talk) 
  missing_image_source = '/img/speaking/missing_image.png'

  talk_name = talk["name"]
  conference = talk["conference"]
  conference_url = talk["url"]
  location = talk["location"]
  dates = talk["dates"]
  slides = talk["slides"]
  video = talk["video"]
  code = talk["code"]
  image_source = talk["image"]
  image_source ||= missing_image_source

  html = "<li>"

  # Image
  html += "<div class='image-container'>"
  img_tag = "<img src='#{image_source}' />"

  # Kind of complex. Future talks' images always link to the conference.
  # Past talks link to the slides, if they're available.
  if type == :future
    html += "<a href='#{conference_url}'>#{img_tag}</a>"
  elsif type == :past
    if slides
      html += "<a href='#{slides}'>#{img_tag}</a>"
      if image_source != missing_image_source
        html += "<a href='#{slides}' class='mouseover-link'><i class='fa fa-file'></i></a>"
      end
    else
      html += img_tag
    end
  end

  html += "</div>"

  # Details
  html += "<div class='details'>"
  if type == :future
    if conference_url
      html += "<h3><a href='#{conference_url}'>#{conference}</a></h3>"
    else
      html += "<h3>#{conference}</h3>"
    end
  elsif type == :past
    html += "<h3>#{talk_name}</h3>"
    if conference_url
      html += "<p><a href='#{conference_url}'><i class='fa fa-quote-left'></i>#{conference}</a></p>"
    else
      html += "<p><i class='fa fa-quote-left'></i>#{conference}</p>"
    end
  end

  if location
    html += "<p><i class='fa fa-map-marker'></i>#{location}</p>"
  end

  if dates
    html += "<p><i class='fa fa-calendar'></i>#{dates}</p>"
  end

  if code
    html += "<p><a href='#{code}'><i class='fa fa-code'></i>Sample Code</a></p>"
  end

  if video
    html += "<p><a href='#{video}'><i class='fa fa-youtube-play'></i>Recorded Video</a></p>"
  end
  html += "</div>"

  html += "</li>"

  html
end

def talks_to_html(type, talks)
  if talks.count > 0
    formatted_talks = talks.select{ |talk| talk["hidden"] != true }.map { |talk| talk_to_html(type, talk) }.reduce(:+)
    # columns(formatted_talks)
    formatted_talks
  else
    # Just gonna assume we always have past talks ¯\_(ツ)_/¯
    <<-EOS
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <p>No upcoming talks at this time.</p>
          </div>
        </div>
      </div>
    EOS
  end
end
%>


<div class="speaking">

  <!-- Intro -->

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

        <p>I love sharing knowledge – in the form of blog posts, podcasts, open source code, books – and over the past few years, I've grown really fond of speaking. I've gotten good at it, too.</p>

        <div class="embed-responsive embed-responsive-16by9">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/SjjvnrqDjpM" frameborder="0" class="embed-responsive-item" allowfullscreen></iframe>
        </div>

      </div>
    </div>
  </div>

  <!-- Upcoming Talks -->

  <aside style="background-image: url(/img/speaking/world.jpg);">
    <h2>Coming Soon to a Conference Near You</h2>
  </aside>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

        <ul>

          <%= talks_to_html(:future, data.talks.upcoming_talks) %>

        </ul>

      </div>
    </div>
  </div>

  <!-- Past Talks -->

  <aside style="background-image: url(/img/speaking/pasttalks.jpg);">
    <h2>Past Awesome Talks</h2>
  </aside>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

        <p>Here's a list of selected talks I've given in the past.</p>

        <ul>

          <%= talks_to_html(:past, data.talks.past_talks) %>
          
        </ul>

      </div>
    </div>
  </div>

  <!-- Get in touch -->

  <aside style="background-image: url(/img/speaking/getintouch.jpg);">
    <h2>Get in Touch</h2>
  </aside>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

        <p>Usually I like to deliver a combination of technical knowledge and inspirational messages. Context for technical know-how is critical. It's not enough to understand what you're doing if you don't understand <em>why</em> you're doing it.</p>
        
        <p>If you're interested in having me speak, <a href="mailto:ash@ashfurrow.com">get in touch</a>.</p>

      </div>
    </div>
  </div>

</div>
