---
title: Speaking
og_image: /img/speaking.jpg
priority: 0.75
description: I love sharing knowledge – in the form of blog posts, podcasts, open source code, books – and over the past few years, I've grown really fond of speaking. I've gotten good at it, too.
---

/ Pager Header
= partial :header, locals: { title: 'Speaking', background_image: 'http://static.ashfurrow.com/blog/backgrounds/speaking-bg.jpg' }

- require('lib/speaking.rb')

.speaking
  / Intro
  .container
    .row
      %div[standard_width]
        %p I love sharing knowledge – in the form of blog posts, podcasts, open source code, books – and over the past few years, I've grown really fond of speaking. I've gotten good at it, too.

        .embed-responsive.embed-responsive-16by9
          %iframe{width: '560', height: '315', src: 'https://www.youtube.com/embed/SjjvnrqDjpM', frameborder: '0', allowfullscreen: true}.embed-responsive-item

  / Upcoming Talks
  %aside{style:'background-image: url(/img/speaking/world.jpg);'}
    %h2 Coming Soon to a Conference Near You
  .container
    .row
      %div[standard_width]
        %ul
          = Speaking::talks_to_html(:future, data.talks.upcoming_talks)

  / Past Talks
  %aside{style:'background-image: url(/img/speaking/pasttalks.jpg);'}
    %h2 Past Awesome Talks
  .container
    .row
      %div[standard_width]
        %ul
          = Speaking::talks_to_html(:past, data.talks.past_talks)
  
  / Get in touch
  %aside{style:'background-image: url(/img/speaking/getintouch.jpg);'}
    %h2 Get in Touch
  .container
    .row
      %div[standard_width]
        %p Usually I like to deliver a combination of technical knowledge and inspirational messages. Context for technical know-how is critical. It's not enough to understand what you're doing if you don't understand <em>why</em> you're doing it.
        %p If you're interested in having me speak, <a href='mailto:ash@ashfurrow.com'>get in touch</a>.
