---
title: Speaking
og_image: /img/speaking.jpg
---

<!-- Page Header -->
<%= partial("header", :locals => { :title => "Speaking", :subtitle => "", :background_image => "http://static.ashfurrow.com/blog/backgrounds/speaking-bg.jpg" }) %>

<%

def talk_to_html(talk) 
  talk_name = talk["name"]
  conference = talk["conference"]
  conference_url = talk["url"]
  slides = talk["slides"]
  video = talk["video"]
  code = talk["code"]

  html = "<em>#{ talk_name }</em>"

  if talk_name == "TBA"
    html = talk_name
  end

  if conference_url
    html += " at <a href='#{ conference_url }'>#{ conference }</a>"
  else 
    html += " at #{ conference }"
  end

  if slides
    html += " <a href='#{ slides }'><i class='fa fa-image'></i></a>"
  end

  if video
    html += " <a href='#{ video }'><i class='fa fa-youtube-play'></i></a>"
  end

  if code
    html += " <a href='#{ code }'><i class='fa fa-code'></i></a>"
  end

  html
end

def talks_to_html(talks, title)
  if talks.count > 0
    <<-EOS
    <h3>#{title}</h3>
    <ul>#{talks.map { |talk| "<li>#{ talk_to_html(talk) }</li>\n" }.reduce(:+)}</ul>
    EOS
  else
    ""
  end
end

%>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <p>I love sharing knowledge – in the form of blog posts, podcasts, open source code, books – and over the past few years, I've grown really fond of speaking. I've gotten good at it, too.</p>

			<%= image_tag 'speaking.jpg', :class => 'img-responsive', :alt => "Speaking at NSSpain 2014" %>

      <p>Usually I like to deliver a combination of technical knowledge and inspirational messages. Context for technical know-how is critical. It's not enough to understand what you're doing if you don't understand <em>why</em> you're doing it.</p>
      
      <p>I love speaking because I love spreading what I love.</p>

      <p>If you're interested in having me speak, <a href="mailto:ash@ashfurrow.com">get in touch</a>.</p>

      <%= talks_to_html(data.talks.upcoming_talks, "Upcoming") %>
      <%= talks_to_html(data.talks.past_talks, "Past") %>
    </div>
  </div>
</div>
