---
title: Speaking
---

<!-- Page Header -->
<%= partial("header", :locals => { :title => "Speaking", :subtitle => "", :background_image => "speaking-bg.jpg" }) %>

<div id="main" class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <p>I love sharing knowledge – in the form of blog posts, podcasts, open source code, books – and over the past few years, I've grown really fond of speaking. I've gotten good at it, too.</p>


			<%= image_tag 'speaking.jpg', :class => 'img-responsive', :alt => "Speaking at NSSpain 2014" %>

      <p>Usually I like to deliver a combination of technical knowledge and inspirational messages. Context for technical know-how is critical. It's not enough to understand what you're doing if you don't understand <em>why</em> you're doing it.</p>
      
      <p>I love speaking because I love spreading what I love.</p>

      <p>If you're interested in having me speak, <a href="mailto:ash@ashfurrow.com">get in touch</a>.</p>

      <h3>Upcoming</h3>
				<ul>
					<li><a href="http://mbltdev.ru">MBLT Dev</a></li>
					<li><a href="http://by.mdday.ru/">Mobile Developer &amp; business day</a></li>
					<li><a href="http://www.dotswift.io">dotSwift</a></li>
				</ul>
      <h3>Past</h3>
			<ul>
				<li><em>Idiomatic Swift</em> at <a href="http://pragmamark.org/events/pragma-conference-2014/">Pragma Mark</a> (<a href="https://speakerdeck.com/ashfurrow/solving-problems-the-swift-way-swiftcrunch">Slides</a>)</li>
				<li><em>Functional Programming in Swift</em> at <a href="http://nsspain.com/2014/">NSSpain 2014</a> (<a href="https://speakerdeck.com/ashfurrow/the-future-of-functional-programming-on-ios">Slides</a>)</li>
				<li><em>ReactiveCocoa</em> at <a href="http://mobile-warsaw.pl">Mobile Warsaw</a></li>
				<li><em>Solving Problems the Swift Way</em> at a <a href="https://secure.trifork.com/cph-2014/freeevent/index.jsp?eventOID=6461">GOTO Talk</a>, Copenhagen</li>
				<li><em>Solving Problems the Swift Way</em> at <a href="http://swiftcrunch.com">SwiftCrunch</a> (<a href="https://speakerdeck.com/ashfurrow/solving-problems-the-swift-way-swiftcrunch">Slides</a>) (<a href="https://www.youtube.com/watch?v=LtrzZb5Jw0g">Video</a>)</li>
				<li><em>Introduction to ReactiveCocoa</em> at <a href="http://www.altconf.com">AltConf</a> 2014 (<a href="https://www.youtube.com/watch?v=TlgUWYrQ0sc">Slides</a>) (<a href="https://www.youtube.com/watch?v=TlgUWYrQ0sc">Video</a>)</li>
				<li><em>Introduction to ReactiveCocoa</em> at <a href="http://mdevcon.com/posts/2014/01/09/ash-furrow/">mdevcon 2014</a></li>
				<li><em>ReactiveCocoa</em> at a local CocoaHeads meetup (<a href="https://speakerdeck.com/ashfurrow/reactivecocoa">Slides</a>)</li>
				<li><em>UICollectionView Basics</em> at a <a href="http://tacow.org">local CocoaHeads meetup</a> (<a href="https://speakerdeck.com/ashfurrow/uicollectionview">Slides</a>)</li>
				<li><em>GitHub for Designers</em> at <a href="http://fitc.ca/presentation/github-for-designers/">FITC Screens 2013</a> (<a href="https://speakerdeck.com/ashfurrow/github-for-designers">Slides</a>)</li>
				<li><em>Effective Use of Open Source Software</em> at <a href="http://vimeopro.com/360conferences/360idev-2013/video/75223577">360|iDev 2013</a> (<a href="https://speakerdeck.com/ashfurrow/effective-use-of-open-source-software">Slides</a>)</li>
				<li><em>Developers Should Learn Photography</em> blitz talk at <a href="http://nsnorth.ca/2013/">NSNorth</a> 2013 (<a href="https://speakerdeck.com/ashfurrow/developers-should-learn-photography">Slides</a>)</li>
				<li><em>Objective-C Vitamins</em> at <a href="http://techtalksto.com/post/40607791416/ash-furrow-presenting-accessibility-and-unit-testing">TechTalksTO</a> (<a href="https://speakerdeck.com/ashfurrow/objective-c-vitamins">Slides</a>) (<a href="http://vimeo.com/58066095">Video</a>)</li>
				<li><em>500px for iPad: A Developer's Behing the Scenes</em> at <a href="http://fitc.ca/presentation/500px-for-ipad-a-developers-behind-the-scenes/">FITC Screens 2012</a> (<a href="https://speakerdeck.com/ashfurrow/500px-for-ipad-a-developers-behind-the-scenes">Slides</a>) (<a href="http://vimeo.com/50451043">Video</a>)</li>
				<li><em>Designing Interfaces for iPhone</em> at <a href="http://podcamptoronto.com">Podcamp Toronto 2012</a> (<a href="https://speakerdeck.com/ashfurrow/designing-interfaces-for-iphone">Slides</a>)</li>
			</ul>
    </div>
  </div>
</div>
